h1,
h2,
h3 {
  font-family: $heading-fontFamily;
  text-transform: capitalize;
  letter-spacing: $spacing;
  color: $black;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.3rem;
}
p {
  color: $black;
  font-family: $paragraph-fontFamily;
  margin-bottom: 1.25rem;
  line-height: 2;
  font-weight: 300;
}
img {
  display: block;
  width: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

.btn {
  display: inline-block;
  color: $navText-color;
  background-color: $navBackground-color;
  letter-spacing: $spacing;
  padding: 0.375rem 0.875rem;
  text-transform: uppercase;
  border: 2px solid transparent;
  border-radius: $border-radius;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 1px 3px $dark-shadow;
  transition: $transition;
  --webkit-transition: $transition;
  &:hover {
    color: $hover-color;
    background-color: $hoverBackground-color;
  }
  &:active {
    transform: scale(0.9);
  }
}
.section {
  padding: 5rem 0;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
/* underline */
.underline {
  width: 5rem;
  height: 0.25rem;
  background-color: $navBackground-color;
  border-radius: $border-radius;
  margin-bottom: 1.25rem;
  margin-left: auto;
  margin-right: auto;
}


.global-icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
   column-gap: 1rem;
  justify-items:center;
  align-items: center;
}
.social-icon {
  color: $light-black;
  // font-size:1.3rem;
  transition: $transition;
  &:hover {
    color: $navBackground-color !important;
  }
}
