 .book{
  // background: url(../../images/Afar/Dinknesh/dinknesh1.jpeg) center/cover no-repeat fixed;
  background-color: #ff0;
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
  -webkit-clip-path: polygon(
    50% 0%,
    100% 10%,
    100% 90%,
    50% 100%,
    0% 90%,
    0% 100%
  );
  clip-path: polygon(49% 0, 100% 3%, 100% 94%, 50% 100%, 0 94%, 0 4%);
 }
.booK-center{
   height: 85%;
    width: 80%;
  position: relative;
  display:flex;
  flex-direction: column;
  justify-content: center;
   background-color:$clr-grey-1; 
    border-radius:1rem;
}
.back{
  color: #ff0;
  border: 2px solid $clr-red;
  position:absolute;
  top: 0;
  right: 0;
  padding: 0.35rem 1.2rem;
  border-radius:$border-radius;
  font-size: 1rem;
transition:$transition; 
margin: 2rem;
}
.back:hover{
  background-color:$clr-red;
  border: 2px solid transparent;
}
.book-title h1{
  color:$primary-light;
  font-size: 2rem; 
}
.book-title{
  align-self:center;
}
.book-title .underline {
  width: 7rem;
}

.form-section{
  display:grid;  
  row-gap: 1rem;
  margin: 0 1.4rem;
}

.form-section div{
   display:grid;
  grid-template-columns:40% 60%;
  color:$white;
  font-weight: 900;
}
.form-section div .inputs{
  border: 3px solid $white;
  height: 1.6rem;
  font-size: 1rem;
  text-align: center;
  box-shadow:$logo-boxShadow;
}

.boookers .clearbtns{
  justify-self: center;
  
}
.boookers .submitbtns{
   justify-self: center;

}
.clearbtns:hover, .submitbtns:hover {
   background-color:$clr-grey-5;
    color:$white;
    border: 3px solid transparent;
}

@media screen and (min-width:960px) {
  .booK-center{
    width: 70%;
  }
  .form-section{
    grid-template-columns: 1fr 1fr;
     column-gap: 2rem;
  }
  .form-section div{
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
   
  }
  .form-section div .inputs{
    height: 2.5rem;
    font-size: 1.6rem;
  }
  .boookers{
    row-gap: 1rem; 
    margin-top: 2rem;
  }
  .clearbtns{
   float: left;
   float: right;
   width: 50%;
   color:$white;
  border: 2px solid $clr-red;
  background-color: transparent;
  padding: 0.35rem 1.2rem;
  border-radius:$transition;
  font-size: 1rem;
transition: $transition;
}
.boookers .submitbtns{  
 margin: 0 3rem;
}
}